.banner{
    position: relative;
    perspective: 1800px; 
    height: transform-style: preserve-3d;
    width: 982px;
    cursor: pointer;
    height: 350px;
}

.banner img{
    position: absolute;
    left:0;
    top: 0;
    transition: 1s;  
}
.banner img.first { transform: rotateX(-90deg); }
.banner img.second { transform: rotateX(0deg);}    
.banner img:nth-child(1),.banner img:nth-child(11){
	clip: rect(0,982px, 35px,0); 
	transform-origin:0px 0px; 
}
.banner img:nth-child(2),.banner img:nth-child(12){
	clip: rect(35px,982px, 70px,0);
	transform-origin:0px 35px ; 
	transition-delay: 100ms; 
}
.banner img:nth-child(3),.banner img:nth-child(13){
	clip: rect(70px,982px, 105px,0);
	transform-origin:0px 70px ; 
	transition-delay: 200ms; 
}
.banner img:nth-child(4),.banner img:nth-child(14){
	clip: rect(105px,982px, 140px,0);
	transform-origin:0px 105px ; 
	transition-delay: 300ms; 
}
.banner img:nth-child(5),.banner img:nth-child(15){
	clip: rect(140px,982px, 175px,0);
	transform-origin:0px 140px ; 
	transition-delay: 400ms; 
}
.banner img:nth-child(6),.banner img:nth-child(16){
	clip: rect(175px,982px, 210px,0);
	transform-origin:0px 175px ;
	transition-delay: 500ms;
}
.banner img:nth-child(7),.banner img:nth-child(17){
	clip: rect(210px,982px, 245px,0); 
	transform-origin:0px 210px ;
	transition-delay: 600ms;
}
.banner img:nth-child(8),.banner img:nth-child(18){
	clip: rect(245px,982px, 280px,0); 
	transform-origin:0px 245px ;
	transition-delay: 700ms;
}
.banner img:nth-child(9),.banner img:nth-child(19){
	clip: rect(280px,982px, 315px,0); 
	transform-origin:0px 280px ;
	transition-delay: 800ms;
}
.banner img:nth-child(10),.banner img:nth-child(20){
	clip: rect(315px,982px, 350px,0); 
	transform-origin:0px 315px ;
	transition-delay: 900ms;
}
/*html:hover .banner img.first { transform: rotateX(0deg); }*/
/*html:hover .banner img.second { transform: rotateX(-90deg);opacity: 0;}*/
          
