body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a,a:hover{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
$normal-font:12px;
$normal-fontcolor:#888888;
$grey-color:#969696;
$dpink-color:#d10048;
@mixin flexcommon {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content:center;
}
@mixin iconfont {
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
    background: #f0f0f0;
}
header,.banner,.banner img,footer,.infor{margin: 0 auto;width: 982px;}
#chartNum{
    display: none;
}
header{
  height: 70px;
  @include flexcommon;
  font-weight: 100;
  div{
    display: flex;
    @include flexcenter;
    color: #a0a0a0;
    font-family:"arial";
    span{
      @include iconfont;
      margin-left: 12px;
      color:#A0A0A0;
      font-size:$normal-font;
      &:nth-child(1),&:nth-child(3){
        font-size: 20px;
        color: $grey-color;
        cursor:pointer;
      }
      
      &:nth-child(3){
        position: relative;  
        a{
        top:-3px;
        left: 15px;
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        font-size:$normal-font;
        box-sizing: border-box;
        text-indent: -1px;
        line-height: 14px;
        font-style: normal;
        background: $dpink-color;
        color: #FFFFFF;
        } 
      } 
      a{
        padding:0 5px;
        color: $grey-color;
        font:{
          size: $normal-font;
        }
        &:hover{
          color: $normal-fontcolor;
        }
      }
    }
  }
}
nav{
    height: 100%;
    width: 74px;
    position: fixed;
    background: $dpink-color;
    padding-top: 10px;
    z-index: 1052;
    ul{
        li{
            height: 46px;
            position: relative;
            background:{
              image:url(../img/home/line.png);
              repeat: no-repeat;
              size:contain;
              position:left bottom;
            }
            a{
              display: block;
              height: 45px;
              color: #FFFFFF;
              font-size:$normal-font;
              @include flexcenter;
              flex-direction: column;
              &:hover{
                  background: #db366f;
              }
            }
         }
    }
  
  &:nth-child(2){
  z-index: 1051;
  opacity:0;
  left:0;
  background:#ababab;
  height: 40%;
  width:74px;
  ul{ 
      li{
      background-image: none;
      border-bottom:1px solid #b8b8b6;   
      }
  }
 
  }  
}
aside{
    width: 54px;
    position: fixed;
    right: 0;
    top: 70px;
}
footer{
    @include flexcenter;
    flex-wrap: wrap;
    section{
        width: 120px;
        height: 120px;
        @include flexcenter;
        @include iconfont;
        flex-direction: column;
        cursor: pointer;
        img{
          display: block;
          width: 70px; 
          height: 70px;
          font-size: 80px;
          color: #ababab;
          text-align: center;
        }
      h3{
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #888888;
      }
      
    }
    .list{
       width: 700px; 
       display: flex;
       margin-bottom:20px;
       ul{
          flex: 1; 
           li{
               padding: 5px 0;
               &:nth-child(1){
                   font-size: 18px;
                   color: $normal-fontcolor;
               }
               a{
                   font-size:13px;
                   color: $normal-fontcolor;
               }
               img{
                   width: 100px;
                   height: 100px;
                   cursor: pointer;
               }
           }
       }
    }
}
hr{
  border-top:1px solid #dce0e3;
}
.infor{
    margin-top: 25px;
    @include flexcommon;
    flex-direction: column;
    .serve{
        font-size:$normal-font; 
        color:$normal-fontcolor; 
        a{
          font-size:$normal-font;
          padding: 0 8px;
          color:$normal-fontcolor;   
        }
    }
    .monitor,.befile{
        display: flex;
       a{
        display: block;
        @include flexcommon;
        font-size: 12px; 
        color:$normal-fontcolor;
        }
    }
    .befile{
        a{
            padding: 10px 10px;
        }
    }
}